<ion-header class="page-header" [translucent]="true">
  <ion-toolbar>
    <ion-icon tabindex="1" class="pointer" (click)="close()">close</ion-icon>
    <ion-title> {{ titleDetails.title }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ data.service_name }}</ion-card-title>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle class="service-subtitle">
        Id: {{ data.service_request_id }}
      </ion-card-subtitle>
      <ion-card-subtitle class="service-subtitle">
        Notes: {{ data.status_notes }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="location"> </ion-icon>
        {{ data.address }}
      </p>
      <p>
        <ion-icon name="time"></ion-icon>
        Requested: {{ data.requested_datetime | date : "short" }}
      </p>
      <p>
        <ion-icon name="time"></ion-icon>
        Updated: {{ data.updated_datetime | date : "short" }}
      </p>
      <p>
        <ion-icon name="time"></ion-icon>
        Updated: {{ data.updated_datetime | date : "short" }}
      </p>
      <p>
        <ion-icon name="location"> </ion-icon>
        {{ data.address }}
      </p>
      <p>
        <ion-icon name="location"> </ion-icon>
        Latitude: {{ data.lat }}
      </p>
      <p>
        <ion-icon name="location"> </ion-icon>
        Longitude: {{ data.long }}
      </p>
      <div class="service-card-image">
        <img
          *ngIf="data?.media_url"
          src="{{ data?.media_url }}"
          style="object-fit: cover; width: 100%; height: 100%"
        />
        <p *ngIf="!data?.media_url">No Media</p>
      </div>
    </ion-card-content>
    <!-- TODO: Add capacitor maps to show request location information in a map. -->
    <!-- <capacitor-google-map #map id="map"></capacitor-google-map> -->
  </ion-card>

  <!-- TODO: Show on map and add link to navigate to the  -->
  <!-- <ion-button (click)="openMaps(data.lat, data.long)">Show On Map</ion-button> -->
</ion-content>
